.all-posts__wrapper{
  .all-posts__item{
    background-color: #D5ECFF;
    padding: 10px 25px;
    border-radius: 4px;
    height: 40vh;
    .all-posts__item-thumbnail-wrapper{
      margin-top: 1vh;
      .all-posts__item-thumbnail{
        width: 25vh;
        margin: auto;
      }
    }
    .all-posts__item-desc{
      margin-top: 5vh;
      font-size: 13px;
      color: #2699fb;
      font-weight: 300;
    }
    .all-posts__item-tool-wrapper{
      .all-posts__item-tool-link{
        width: 33px;
        height: 33px;
        background-color: white;
        border-radius: 50%;
        margin-bottom: 5px;
        &:hover{
          cursor: pointer;
          box-shadow: 0 0 0 3px #7dc2fd;
        }
      }
    }
  }
  .slick-slide > div{
    margin: 0 20px;
  }
  .custom-pagination{
    margin-top: 6vh;
    .custom-pagination__prev{
      &:hover{
        cursor: pointer;
      }
    }
    .custom-pagination__next{
      &:hover{
        cursor: pointer;
      }
    }
    .custom-pagination__page{
      color: #2699fb;
      font-size: 20px;
      width: 100px;
      text-align: center;
    }
  }
  .all-posts__notification{
    font-size: 30px;
    color: #2699fb;
    font-weight: bold;
    text-align: center;
  }
}

@media only screen and (min-width: 320px) and (max-width : 768px){
  .all-posts__wrapper{
    .all-posts__item{
      width: 100% !important;
      height: 100%;
      margin-bottom: 20px;
      .all-posts__item-thumbnail-wrapper{
        .all-posts__item-thumbnail{
          width: 100%;
        }
      }
    }
  }
  .all-posts__notification{
    font-size: 20px !important;
  }
}

