
.banner__wrapper{
  background-color: rgb(38, 153, 251);
  .banner__thumbnail{
    height: 92vh;
    > svg{
      width: 50vw;
    }
  }
  .banner__text{
    position: absolute;
    bottom: 12vh;
    color: white;
    width: 40vw;
    .banner__text-title{
      font-size: 45px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .banner__text-category{
      font-size: 11px;
      font-weight: 300;
    }
    .banner__text-desc{
      margin-top: 40px;
    }
  }
  .banner__store{
    background-color: rgb(216, 237, 255);
    height: 8vh;
    .banner__store-wrapper{
      height: 100%;
      .banner__store-text{
        font-size: 20px;
        font-weight: bold;
        color: rgb(38, 153, 251);
      }
      .banner_store_logo-item{
        margin-left: 10px;
      }
    }
  }
}


@media only screen and (min-width: 320px) and (max-width : 991px){
  .banner__wrapper{
    .banner__thumbnail{
      height: 100vh;
      > svg{
        width: 50vw;
      }
    }
    .banner__text{
      bottom: 2vh;
      width: auto;
      .banner__text-title{
        font-size: 30px;
      }
      .banner__text-category{
        font-size: 11px;
      }
      .banner__text-desc{
        font-size: 12px;
        margin-top: 15px;
      }
    }
    .banner__store{
      height: auto;
      padding: 10px 0;
      .banner__store-wrapper{
        height: 100%;
        .banner__store-text{
          font-size: 20px;
          text-align: center;
        }
        .banner_store_logo-item{
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}