.community__wrapper{
  padding-top: 8vh;
  .community__live{
    height: 35vh;
    .community__live-title{
      margin-bottom: 1vh;
      font-size: 45px;
      font-weight: bold;
      color: rgb(38, 153, 251);
      text-transform: uppercase;
    }
    .community__live-title-sm{
      margin-bottom: 1vh;
      font-size: 25px;
      font-weight: bold;
      color: rgb(38, 153, 251);
    }
  }
  .community__post{
    height: 55vh;
    .community__post-tool-bar{
      margin-bottom: 3vh;
      .community__post-title{
        color: #2699fb;
        font-size: 30px;
        font-weight: bold;
      }
      .community__post-tool{
        .community__post-filter{
          .community__post-filter-item{
            margin-left: 25px;
          }
        }
      }
      .community__post-search{
        margin-left: 25px;
        height: 100%;
        input[type=text] {
          height: 100%;
          width: 100%;
          padding: 2px 12px;
          display: inline-block;
          border: 1px solid #2699fb;
          background-color: transparent;
          border-radius: 4px;
          box-sizing: border-box;
          color: #2699fb;
          &:focus{
            border: 1px solid #2699fb;
            background-color: transparent;
            border-radius: 4px;
            outline: none;
          }
        }
        input::placeholder {
          color: #2699fb;
          font-style: italic;
        }
        .inline-icon{
          position: absolute;
          right: 7%;
          top: 30%;
        }
      }
    }
  }
}


@media only screen and (min-width: 320px) and (max-width : 991px){
  .community__wrapper{
    padding-top: 3vh;
    padding-bottom: 3vh;
    .community__live{
      height: auto;
      .community__live-title{
        margin-bottom: 1vh;
        font-size: 25px;
      }
    }
    .community__post{
      height: auto;
      position: relative;
      .community__post-tool-bar{
        margin-bottom: 3vh;
        .community__post-title{
          font-size: 20px;
          margin-bottom: 10px;
        }
        .community__post-tool{
          .community__post-filter{
            .community__post-filter-item{
              margin-left: 5vw;
            }
          }
        }
        .community__post-search{
          margin-left: 0;
          height: 40px;
          position: relative;
          input[type=text] {
            height: 100%;
            width: 100%;
            padding: 2px 12px;
            display: inline-block;
          }
          .inline-icon{
            position: absolute;
            right: 7%;
            top: 30%;
          }
        }
      }
      .community__post-button{
        text-align: center;
        height: 30vh;
        width: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%);
        line-height: 30vh;
        > a{
          padding: 10px 10vw;
          border: 1px solid #2699fb;
          color: #2699fb;
          border-radius: 4px;
          vertical-align: text-top;
        }
      }
    }
  }
}