.contact-form__wrapper{
  background-color: rgb(235, 246, 255);
  .contact-form__items{
    height: 100%;
    .contact-form__form{
      width: 250px;
      color: rgb(38, 153, 251);
      .contact-form__form-title{
        font-size: 25px;
        font-weight: bold;
      }
      .contact-form__desc{
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 25px;
      }
      .contact-form__input{
        margin-bottom: 8px;
        input[type=text] {
          width: 100%;
          padding: 2px 12px;
          display: inline-block;
          border: 1px solid #2699fb;
          background-color: transparent;
          border-radius: 4px;
          box-sizing: border-box;
          color: #2699fb;
          &:focus{
            border: 1px solid #2699fb;
            background-color: transparent;
            border-radius: 4px;
            outline: none;
          }
        }
        input::placeholder {
          color: #2699fb;
        }
        label{
          font-size: 10px;
        }
        .submit-button{
          height: 30px;
          width: 100px;
          background-color: transparent;
          border: 1px solid #2699fb;
          color: #2699fb;
          font-size: 10px;
          border-radius: 4px;
          font-weight: 500;
          &:hover{
            background-color: #2699fb;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width : 768px) {
  .contact-form__wrapper {
    padding-top: 3vh;
  }
}

@media only screen and (min-width: 320px) and (max-width : 991px) {
  .contact-form__wrapper {
    padding-top: 3vh;
  }
}