.event__wrapper{
  padding-top: 8vh;
  background-color: rgb(235, 246, 255);
  .event__text{
    color: #2699fb;
    margin-bottom: 5vh;
    .event__text-title{
      font-size: 45px;
      font-weight: bold;
    }
    .event__text-desc{
      font-size: 25px;
      font-weight: 300;
    }
  }
  .event__carousel{

  }
}

@media only screen and (min-width: 320px) and (max-width : 991px){
  .event__wrapper{
    padding-top: 3vh;
    padding-bottom: 3vh;
    .event__text{
      margin-bottom: 5vh;
      .event__text-title{
        font-size: 25px;
      }
      .event__text-desc{
        font-size: 20px;
      }
    }
  }
}