@media only screen and (max-width: 1024px) {
  .event-carousel__wrapper{
    .event-carousel__item{
      height: 70vh;
      padding: 10px;
      .event-carousel__item-title{
        font-size: 21px;
        width: 100% !important;
      }
      .event-carousel__item-desc{
        font-size: 15px;
      }
      .event-carousel__item-button{
        width: 93% !important;
      }
    }
  }
}
@media (min-width : 1024px) {
  .event-carousel__wrapper{
    .event-carousel__item{
      height: 50vh;
      padding: 10px;
      .event-carousel__item-thumbnail-wrapper{
        .event-carousel__item-thumbnail{
          width: 10em;
        }
      }
      .event-carousel__item-title{
        font-size: 25px;
      }
      .event-carousel__item-link{
        top: 10px;
        right: 10px;
      }
    }
  }
  .slick-dots {
    bottom: -12% !important;
  }
}

@media (min-width : 1224px) {
  .event-carousel__wrapper{
    .event-carousel__item{
      height: 50vh;
      padding: 15px;
      .event-carousel__item-thumbnail-wrapper{
        .event-carousel__item-thumbnail{
          width: 10em;
        }
      }
      .event-carousel__item-title{
        font-size: 30px;
      }
      .event-carousel__item-link{
        top: 15px;
        right: 15px;
      }
    }
  }
  .slick-dots {
    bottom: -20% !important;
  }
}

@media (min-width : 1824px) {
  .event-carousel__wrapper{
    .event-carousel__item{
      height: 50vh;
      padding: 20px;
      .event-carousel__item-thumbnail-wrapper{
        .event-carousel__item-thumbnail{
          width: 10em;
        }
      }
      .event-carousel__item-title{
        font-size: 35px;
      }
      .event-carousel__item-link{
        top: 20px;
        right: 20px;
      }
    }
  }
  .slick-dots {
    bottom: -20% !important;
  }
}

.event-carousel__wrapper{
  .event-carousel__item{
    background: linear-gradient(180deg, rgba(38,153,251,1) 0%, rgba(38,153,251,1) 50%, rgba(21,83,136,1) 73%, rgba(0,0,0,1) 100%);
    border-radius: 4px;
    position: relative;
    .event-carousel__item-thumbnail-wrapper{
      height: 75%;
      padding-top: 20%;
      .event-carousel__item-thumbnail{
        margin: auto;
      }
    }
    .event-carousel__item-border{
      width: 50%;
      background-color: white;
      height: 3px;
      margin: 5% 0;
    }
    .event-carousel__item-title{
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
    }
    .event-carousel__item-desc{
      color: white;
    }
    .event-carousel__item-button{
      text-transform: uppercase;
      border: 2px solid white;
      color: white;
      padding: 10px 0;
      text-align: center;
      font-weight: 600;
      position: absolute;
      width: 87%;
      bottom: 40px;
      &:hover{
        cursor: pointer;
      }
    }
    .event-carousel__item-link{
      width: 33px;
      height: 33px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      &:hover{
        cursor: pointer;
        box-shadow: 0 0 0 3px #7dc2fd;
      }
    }
  }
  .custom-pagination__wrapper{
    width: 50px;
    height: 50px;
    .custom-pagination__number{
      color: #2699fb;
      font-size: 18px;
    }
  }
  .slick-dots {
    bottom: -20%;
    > li {
      margin: 0 25px;
    }
  }
  .slick-slide > div{
    margin: 0 3%;
  }
}

