.exclusive-content__wrapper{
  padding-top: 8vh;
  background-color: white;
  .exclusive-content__text{
    color: #2699fb;
    margin-bottom: 5vh;
    .exclusive-content__text-title{
      font-size: 45px;
      font-weight: bold;
    }
    .exclusive-content__text-desc{
      font-size: 25px;
      font-weight: 300;
    }
  }
  .exclusive-content__carousel{

  }
}

@media only screen and (min-width: 320px) and (max-width : 991px){
  .exclusive-content__wrapper{
    padding-top: 3vh;
    padding-bottom: 3vh;
    .exclusive-content__text{
      margin-bottom: 5vh;
      .exclusive-content__text-title{
        font-size: 25px;
      }
      .exclusive-content__text-desc{
        font-size: 20px;
      }
    }
  }
}