@media only screen and (max-width: 1024px) {
  .exclusive-slider__wrapper{
    .exclusive-slider__item{
      height: 30vh;
    }
  }

}

@media (min-width : 1024px) {
  .exclusive-slider__wrapper{
    .exclusive-slider__item{
      height: 50vh;
    }
  }
  .custom-pagination {
    margin-top: 3vh !important;
  }
}

@media (min-width : 1224px) {
  .exclusive-slider__wrapper{
    .exclusive-slider__item{
      height: 50vh;
    }
  }
  .custom-pagination {
    margin-top: 6vh !important;
  }
}

@media (min-width : 1824px) {
  .exclusive-slider__wrapper{
    .exclusive-slider__item{
      height: 50vh;
    }
  }
  .custom-pagination {
    margin-top: 6vh !important;
  }
}

.exclusive-slider__wrapper{
  .exclusive-slider__item{
    background-color: #D5ECFF;
    border-radius: 4px;
    position: relative;
    .exclusive-slider__item-thumbnail-wrapper{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .exclusive-slider__item-download{
      position: absolute;
      top: 0;
      right: 0;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .custom-pagination{
    margin-top: 6vh;
    .custom-pagination__prev{
      &:hover{
        cursor: pointer;
      }
    }
    .custom-pagination__next{
      &:hover{
        cursor: pointer;
      }
    }
    .custom-pagination__page{
      color: #2699fb;
      font-size: 20px;
      width: 100px;
      text-align: center;
    }
  }

  .slick-slide > div{
    margin: 0 3%;
  }
}