@media only screen and (min-width: 320px) and (max-width : 991px){
  .footer-section__wrapper{
    height: auto !important;
    .footer-section__social-wrapper{
      background-color: #C4E4FF;
      padding: 20px 0;
      text-align: center;
      .footer-section__follow-text{
        font-size: 16px;
        font-weight: bold;
        color: #2699fb;
      }
      .footer-section__social{
        .footer-section__social-item{
          margin-right: 15px;
        }
      }
    }
    .footer-section__route-wrapper{
      margin: 0 20px;
      .footer-section__route-nav{
        margin-bottom: 15px;
        .footer-section__route-nav-item{
          > span {
            font-size: 11.5px;
            font-weight: bold;
          }
        }
      }
      .footer-section__policy{
        font-weight: 200;
        font-size: 10px;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}
@media (min-width : 1024px) {
  .footer-section__items {
    margin: 0 130px;
  }
  .footer-section__border{
    margin: 0 -130px;
  }
}

@media (min-width : 1224px) {
  .footer-section__items {
    margin: 0 230px;
  }
  .footer-section__border{
    margin: 0 -230px;
  }
}

@media (min-width : 1824px) {
  .footer-section__items {
    margin: 0 446px;
  }
  .footer-section__border{
    margin: 0 -446px;
  }
}

.footer-section__wrapper{
  background-color: rgb(38, 153, 251);
  color: white;
  height: 100vh;

  .footer-section__items{
    .footer-section__main{
      padding: 8em 0;
      height: 90vh;
      .footer-section__spacing-left{
        padding-left: 28px;
        .footer-section__follow-text{
          font-size: 24px;
          font-weight: bold;
        }
        .footer-section__social{
          margin-bottom: 1rem;
          .footer-section__social-item{
            margin-right: 15px;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .footer-section__languages{
          width: 200px;
          .input-select__label{
            color: rgb(38, 153, 251);
            margin-left: 15px;
          }
          .input-menu{
            color: rgb(38, 153, 251);
          }
        }
      }
      .footer-section__nav{
        > span{
          &:hover{
            cursor: pointer;
          }
        }
        .footer-section__nav-title{
          font-weight: bold;
          text-transform: uppercase;
          font-size: 24px;
          margin-bottom: 30px;
        }
      }
    }
    .footer-section__policy{
      text-align: center;
      font-size: 15px;
      font-weight: 200;
      padding-top: 0.7em;
    }
    .footer-section__border{
      background-color: white;
      height: 3px;
    }
  }
}
