.header-section__wrapper{
  background-color: rgb(125,194,253);
  height: 8vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  .header-section__items{
    margin: 0 10vw;
    height: 100%;
    .header-section__logo{
    }
    .header-section__hamburger{
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width : 768px){
  .header-section__wrapper{
    height: 10vh;
  }
  .header-section__logo{
    > svg{
      width: 50vw;
      height: 8vh;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width : 991px){
  .header-section__wrapper{
    height: 10vh;
  }
  .header-section__logo{
    > svg{
      width: 12vw;
      height: 8vh;
    }
  }
}