.live-story__wrapper{
  .live-story__item{
    padding-top: 5px;
    .live-story__item-thumbnail-wrapper{
      border-radius: 50%;
      width: 14vh;
      height: 14vh;
      padding: 7px;
      margin: auto;
      .live-story__item-thumbnail{
        height: 12vh;
        width: 12vh;
        border-radius: 50%;
        object-fit: cover;
        margin: auto;
      }
    }

    .live-story__item-title{
      text-align: center;
      font-size: 18px;
      margin-top: 7px;
      color: #2699fb;
      font-weight: 300;
    }
    &:hover{
      cursor: pointer;
      text-decoration: none;
      .live-story__item-thumbnail-wrapper{
        border: 3px solid #2699fb;
      }
      .live-story__item-title{
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width : 768px) and (orientation: portrait) {
  .live-story__item-thumbnail-wrapper{
    width: 100% !important;
    height: 100% !important;
    .live-story__item-thumbnail{
      height: 23vw !important;
      width: 100% !important;
    }
  }
  .live-story__item-title{
    font-size: 13px !important;
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 320px) and (max-width : 991px) and (orientation: landscape) {
  .live-story__item-thumbnail-wrapper{
    width: 100% !important;
    height: 100% !important;
    .live-story__item-thumbnail{
      height: 80px !important;
      width: 80px !important;
    }
  }
  .live-story__item-title{
    font-size: 13px !important;
    margin-top: 0 !important;
  }
}