.App{
  font-family: 'Montserrat';
  overflow: hidden;
}
.main-content{
  margin: 0 16vw;
}
.no-margin{
  margin: 0 -16vw;
}

.full-screen{
  height: 100vh;
}

@media only screen and (min-width: 320px) and (max-width : 768px){
  .main-content{
    margin: 0 12vw;
  }
  .no-margin{
    margin: 0 -12vw;
  }
}