.sticky-social__wrapper{
  margin: 0 40px;
  position: absolute;
  right: 0;
  top: 77vh;
  .sticky-social__item{
    width: 33px;
    height: 33px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 5px;
    &:hover{
      cursor: pointer;
      box-shadow: 0 0 0 3px #7dc2fd;
    }
  }
}
